<div class="card border-primary">
<div class="card">
  <div class="card-body">
    <h2 class="card-title"><%= EmployeeProfile.human_attribute_name('name') %>: <%=  @employee_profile.name %></h2>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('social_name') %>: <%= @employee_profile.social_name %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('email') %>: <%= @employee_profile.email %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('birth_date') %>: <%= @employee_profile.birth_date.strftime('%d/%m/%Y') %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('cpf') %>: <%= @employee_profile.cpf %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('rg') %>: <%= @employee_profile.rg %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('address') %>: <%= @employee_profile.address %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('phone_number') %>: <%= @employee_profile.phone_number %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('marital_status') %>: <%= t("activerecord.enum.employee_profile.marital_status.#{@employee_profile.marital_status}") %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('admission_date') %>: <%= @employee_profile.admission_date.strftime('%d/%m/%Y') %></p>
    <% if @employee_profile.dismissal_date %>
      <p class="card-text"><%= EmployeeProfile.human_attribute_name('dismissal_date') %>: <%= @employee_profile.dismissal_date.strftime('%d/%m/%Y') %></p>
    <% end %>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('department_id') %>: <%= @employee_profile.department.name %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('position_id') %>: <%= @employee_profile.position.name %></p>
    <p class="card-text"><%= EmployeeProfile.human_attribute_name('status') %>: <%= t("activerecord.enum.employee_profile.status.#{@employee_profile.status}") %></p>
  </div>
</div>
<%# <%= link_to 'Editar', edit_employee_profile_path(@employee_profile), class: 'btn btn-primary' if current_user.manager?%>

