<div class="card mt-3 ">
  <div class="card-header">
    <%= t('.profile')%>
  </div>
  <div class="card-body">
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('name') %>:
      <%=  @employee_profile.name %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('social_name') %>:
      <%= @employee_profile.social_name %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('email') %>:
      <%= @employee_profile.email %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('birth_date') %>:
      <%= @employee_profile.birth_date.strftime('%d/%m/%Y') %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('cpf') %>:
      <%= format_cpf(@employee_profile.cpf) %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('rg') %>:
      <%= @employee_profile.rg %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('address') %>:
      <%= @employee_profile.address %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('phone_number') %>:
      <%= @employee_profile.phone_number %>
    </p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('marital_status') %>:
      <%= t("activerecord.enum.employee_profile.marital_status.#{@employee_profile.marital_status}") %>
    </p>
  </div>

  <%= link_to t('.edit'),
      edit_company_department_employee_profile_path(
        @employee_profile.department.company_id,
        @employee_profile.department.id,
        @employee_profile
      ),
      class: 'btn btn-primary '
  %>
  <% unless @employee_profile.fired? %>
    <%= link_to t('.fired_employee'),
        new_fired_company_department_employee_profiles_path(
          @employee_profile.department.company_id,
          @employee_profile.department.id,
          id: @employee_profile.id
        ),
        class: 'btn btn-danger'
    %>
  <% end %>
</div>
<div class="card mt-3">
  <div class="card-header">
    <%= t('company_info')%>
  </div>
  <div class="card-body">
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('admission_date') %>:
      <%= l(@employee_profile.admission_date) %>
    </p>
    <% if @employee_profile.dismissal_date %>
      <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('dismissal_date') %>: <%= @employee_profile.dismissal_date.strftime('%d/%m/%Y') %></p>
    <% end %>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('company_id') %>: <%= @employee_profile.department.company.brand_name %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('department_id') %>: <%= @employee_profile.department.name %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('position_id') %>: <%= @employee_profile.position.name %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('status') %>: <%= t("activerecord.enum.employee_profile.status.#{@employee_profile.status}") %></p>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <%= t('.card_info')%>
  </div>
  <div class="card-body">
      <div id='user_card'>
        <%if @employee_profile.card_status%>
          <%= link_to t('.recharge_link'), recharge_history_company_department_employee_profile_path(company_id: @company.id,
                                                                                                    department_id: @department.id,
                                                                                                    id: @employee_profile.id)%>
          <%if @card.present?%>
            <h3><%= t('.card')%> <%=@card.name%></h3>
            <p><%= t('get_card_api.attributes.number')%>: <%=@card.number%></p>
            <p><%= t('get_card_api.attributes.points')%>: <%=@card.points%></p>
            <p><%= t('.status')%>: <%=t("get_card_api.attributes.status.#{@card.status}")%></p>
            <%if @card&.status == 'active'%>
              <%= button_to t('.block_card'), deactivate_card_company_department_employee_profile_path(company_id: @company.id,
                                                                                                    department_id: @department.id,
                                                                                                    id: @employee_profile.id), method: :patch %>
            <%else%>
              <%= button_to t('.unblock_card'), activate_card_company_department_employee_profile_path(company_id: @company.id,
                                                                                                    department_id: @department.id,
                                                                                                    id: @employee_profile.id), method: :patch%>
            <%end%>
            
          <%else%>
            <%= t('.unavailable')%>
          <%end%>
        <%else%>
            <%= t('.no_employee_card')%>
        <%end%>
      </div>
    </div>
</div>