<div class="card mt-2 shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <% if @position.errors.present? %>
      <%= render "shared/errors", errors: @position.errors %>
    <% end %>
    <h4 class="card-title">Novo Cargo</h4>
    <%= form_with(model: [@company, @department, @position], data: { turbo: false }) do |f| %>
        <div class="mb-3">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', disabled: (@position.name == 'Gerente') %>
        </div>
      <div class="mb-3">
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_field :description, class: 'form-control'%>
      </div>
      <div class="mb-3">
        <%= f.label :standard_recharge, class: 'form-label' %> (R$)
        <%= f.number_field :standard_recharge, class: 'form-control'%>
      </div>
      <div class="mb-3">
        <%= f.label :card_type_id, class: 'form-label' %>
        <div class="col-lg-4 col-md-12">
          <%= f.select :card_type_id, @card_types.collect { |p| [p.name, p.id] }, { prompt: 'Não selecionado' }, { class: 'form-select', disabled: @position.employee_profiles.where(card_status: true).any? } %>
        </div>
      </div>
      <%= f.submit t('.save'), class:'btn btn-success'%>
    <% end %>
  </div>
</div>