<div class="card border-primary">
  <div class="card-body">
    <h2 class="card-title"><%= Position.human_attribute_name('name') %>: <%=  @position.name %></h2>
    <p class="card-text"><%= Position.human_attribute_name('description') %>: <%= @position.description %></p>
    <p class="card-text"> <%= Position.human_attribute_name('code') %>: <%= @position.code %></p>
    <p class="card-text"><%= Position.human_attribute_name('card_type_id')%>: <%= @card_type&.name %></p>
    <p class="card-text"><%= Position.human_attribute_name('department') %>: <%= @position.department.name %></p>
  </div>
</div>
