
<div class="card mt-3 ">
  <div class="card-header">
    Perfil
  </div>
  <div class="card-body">
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('name') %>: <%=  format_name(@employee_profile.name) %></>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('social_name') %>: <%= format_name(@employee_profile.social_name) %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('email') %>: <%= @employee_profile.email %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('birth_date') %>: <%= @employee_profile.birth_date.strftime('%d/%m/%Y') %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('cpf') %>: <%= format_cpf(@employee_profile.cpf) %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('rg') %>: <%= @employee_profile.rg %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('address') %>: <%= @employee_profile.address %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('phone_number') %>: <%= format_number(@employee_profile.phone_number) %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('marital_status') %>: <%= t("activerecord.enum.employee_profile.marital_status.#{@employee_profile.marital_status}") %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('admission_date') %>: <%= @employee_profile.admission_date.strftime('%d/%m/%Y') %></p>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    Informações Empresariais
  </div>
  <div class="card-body">
    <% if @employee_profile.dismissal_date %>
      <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('dismissal_date') %>: <%= @employee_profile.dismissal_date.strftime('%d/%m/%Y') %></p>
    <% end %>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('company_id') %>: <%= format_name(@employee_profile.department.company.brand_name) %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('department_id') %>: <%= @employee_profile.department.name %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('position_id') %>: <%= @employee_profile.position.name %></p>
    <p class="card-text m-1"><%= EmployeeProfile.human_attribute_name('status') %>: <%= t("activerecord.enum.employee_profile.status.#{@employee_profile.status}") %></p>
  </div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    Informações do Cartão
  </div>
  <div class="card-body">
      <div id='user_card'>
        <%if @employee_profile.card_status%>
          <%if @card.present?%>
            <h3><%= t('.card')%> <%=@card.name%></h3>
            <p><%= t('get_card_api.attributes.number')%>: <%=@card.number%></p>
            <p><%= t('get_card_api.attributes.points')%>: <%=@card.points%></p>
            <p><%= t('.status')%>: <%=t("get_card_api.attributes.status.#{@card.status}")%></p>
          <%else%>
            <%= t('.failed')%>
          <%end%>
        <%else%>
            <p>Você não possui cartão, fale com o setor de RH</p>
        <%end%>
      </div>
    </div>
</div>