<% if user_signed_in? %>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <div class="container-fluid d-flex">
        <%= link_to "Gestão de empresas", root_path, class: 'navbar-brand', id:'navbar-logo' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav d-flex w-100">
            <% if current_user.admin? %>
              <%= render('shared/nav/admin_options') %>
            <% elsif current_user.employee_profile.present? %>
              <li class="nav-item" >
                <%= link_to current_user.employee_profile.company.brand_name , company_path(current_user.employee_profile.company), class:'nav-link'  %>
              </li>
              <% if current_user.manager? %>
                <%= render('shared/nav/manager_options')%>
                <%= render('shared/nav/manager_search_bar')%>
              <% end %>
            <% end %>
            <%= render('shared/nav/user_menu_dropdown')%>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<%end%>
