<div class="text-center w-100 mt-2 fs-1">
  <p>Recarga de cartão</p>
</div>

<% if @employee.present? & @value %>
  <div class="card justify-content-center">
    <div class="card-header">
      Confirmar Recarga
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Nome:</strong> <%= @employee.name %>
        </li>
        <li class="list-group-item">
          <strong>Cargo:</strong> <%= @employee.position.name %>
        </li>
        <li class="list-group-item">
          <strong>Departamento:</strong> <%= @employee.department.name %>
        </li>
        <li class="list-group-item">
          <strong>CPF:</strong> <%= format_cpf(@employee.cpf) %>
        </li>
        <li class="list-group-item">
          <strong>Valor:</strong> <%= number_to_currency(@value) %>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <%= form_with url: company_recharge_histories_path, method: :post, data: { turbo: false } do |form| %>
        <%= form.hidden_field :cpf, value: @employee.cpf %>
        <%= form.hidden_field :value, value: @value %>
        <%= form.submit 'Recarregar', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="card justify-content-center">
    <div class="card-header">
      Buscar Funcionário <span style="color: grey; font-style: italic;">(Todos os campos obrigatórios)</span>
    </div>
    <div class="card-body">
      <%= form_with url: new_company_recharge_history_path, method: :get, data: { turbo: false } do |form| %>
        <div class="field mb-3">
          <%= form.text_field :cpf, value: params[:cpf], class: "form-control", placeholder: 'CPF do funcionário' %>
        </div>
        
        <div class="field mb-3">
          <%= form.text_field :value, class: "form-control", placeholder: 'Valor em R$' %>
        </div>
        
        <%= form.submit 'Buscar', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
