<% if current_user.admin? || current_user.employee_profile.company == @company %>
  
  <div class="row">
    <div class="d-md-none d-lg-block col-lg-3">
    </div>
    
    <div class="col-md-12 col-lg-6">
      <div class="card my-4">
        <% if @company.logo.present? %>
          <%= image_tag @company.logo, class: 'card-img-top rounded rounded-bottom-0' %>
        <% end %>
        <div class="card-body p-0">
          <div class="card-header">
            <h3 class="card-title pt-2 ps-2"><%= @company.brand_name %></h2>
          </div>
          <h5 class="ms-1 mt-2 ps-3 mt-3">Dados cadastrais</h5>
          <div class="ms-1 ps-3">
            <p class="card-text mb-1 mt-2"><b><%= Company.human_attribute_name('corporate_name') %></b>: <%= @company.corporate_name %></p>
            <p class="card-text mb-1"> <b><%= Company.human_attribute_name('registration_number') %></b>: <%= format_cnpj(@company.registration_number) %></p>
            <p class="card-text mb-1"><b><%= Company.human_attribute_name('address') %></b>: <%= @company.address %></p>
            <p class="card-text mb-1"><b><%= Company.human_attribute_name('phone_number') %></b>: <%= @company.phone_number %></p>
            <p class="card-text mb-1"><b><%= Company.human_attribute_name('email') %></b>: <%= @company.email %></p>
            <p class="card-text mb-1"><b><%= Company.human_attribute_name('domain') %></b>: <%= @company.domain %></p>
            <p class="card-text mb-1"><b><%= Company.human_attribute_name('active') %></b>:
              <% if @company.active %>
                Ativo
              <% else %>
                Inativo
              <% end %>
            </p>
          </div>
        </div>
        <% if current_user.admin? %>
          <%= render 'edit_company_buttons'%>
        <% elsif current_user.manager? %>
          <div class="card-footer d-flex justify-content-between align-items-center">
            
            <%= link_to company_departments_path(@company), class: 'btn btn-primary text-white mx-auto' do %>
              <i class="bi bi-buildings d-inline"></i> Departamentos
            <% end %>

            <%= link_to new_company_department_path(current_user.employee_profile.company), class: 'btn btn-primary text-white mx-auto' do %>
              <i class="bi bi-plus-circle"></i> Cadastrar departamento
            <% end %>

          </div>
        <% end %>
      </div>
    </div>

    <div class="d-md-none d-lg-block col-lg-3">
    </div>
  </div>
  
<% end %>
