<div class="card border-primary">
  <% if @company.logo.present? %>
    <%= image_tag @company.logo, class: 'card-img-top rounded' %>
  <% end %>
  <div class="card-body">
    <h2 class="card-title"><%= Company.human_attribute_name('brand_name') %>: <%=  @company.brand_name %></h2>
    <p class="card-text"><%= Company.human_attribute_name('corporate_name') %>: <%= @company.corporate_name %></p>
    <p class="card-text"> <%= Company.human_attribute_name('registration_number') %>: <%= @company.registration_number %></p>
    <p class="card-text"><%= Company.human_attribute_name('address') %>: <%= @company.address %></p>
    <p class="card-text"><%= Company.human_attribute_name('phone_number') %>: <%= @company.phone_number %></p>
    <p class="card-text"><%= Company.human_attribute_name('email') %>: <%= @company.email %></p>
    <p class="card-text"><%= Company.human_attribute_name('domain') %>: <%= @company.domain %></p>
    <p class="card-text">
      <% if @company.status %>
        <span>Status: Ativo</span>
      <% else %>
        <span>Status: Inativo</span>
      <% end %>
    </p>
  </div>
  <% if current_user.admin? %>
    <%= link_to "Desativar", deactivate_company_path(@company), method: :put, class: 'btn-danger' if @company.status %>
    <%= link_to "Ativar", activate_company_path(@company), method: :put, class: 'btn-primary' if !@company.status %>
  <% end %>
</div>
<%= link_to 'Editar', edit_company_path(@company) if current_user.admin? %>


