<div class="card mt-3">
  <div class="card-header">
    <h2 class="mb-0"><%= 'Recarregar todos os cartões' %></h2>
    <span style="color: grey; font-style: italic;"> (<%= @valid_employees.count %> funcionários válidos)</span>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <% if @valid_employees.empty? %>
        <p style="text-align: center;"><strong><%= 'Nenhum funcionário apto a receber recarga' %></strong></p>
      <% else %>
        <table class="table mb-0 table-striped table-hover">
          <thead>
            <tr>
              <th><%= 'Valor Padrão' %></th>
              <th><%= 'Nome' %></th>
              <th><%= 'Email' %></th>
              <th><%= 'Departamento - Cargo' %></th>
            </tr>
          </thead>
          <tbody>
            <% @valid_employees.each do |valid_employee| %>
              <tr>
                <td><%= number_to_currency(valid_employee.value) %></td>
                <td><%= link_to valid_employee.name,
                                company_department_employee_profile_path(
                                  valid_employee.company,
                                  valid_employee.department,
                                  valid_employee) %></td>
                <td><%= valid_employee.email %></td>
                <td><%= valid_employee.department.name %> - <%= valid_employee.position.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>
    <div style="margin: 10px">
      <%= button_to 'Confirmar',
                    company_multiple_recharges_path,
                    class: "btn btn-primary", data: { turbo: false } %>
    </div>

</div>
