
<div class="card my-3">
 <div class="card-header">
    <%= t('.title') %>
  </div>
  <div class="row g-0">
      <% unless @card_icon.nil?%>
        <div class="col-md-4">
          <h4 class="ms-3 mt-1">Cartão do cargo:</h4>
          <img src="<%= @card_icon %>" class="img-fluid rounded-start p-2">
        </div>
      <% end %>
    <div class="col-md-8">
      <h4 class="ms-3 mt-1">Seu cartão:</h4>
      <div class="card-body" id="user_card">
        <%if @employee_profile.card_status%>
          <%if @card.present?%>
            <h3><%= t('.card')%> <%=@card.name%></h3>
            <p class="m-1"><%= t('get_card_api.attributes.number')%>: <%=@card.number%></p>
            <p class="m-1"><%= t('get_card_api.attributes.points')%>: <%=@card.points%></p>
            <p class="m-1"><%= t('.status')%>: <%=t("get_card_api.attributes.status.#{@card.status}")%></p>

            <%= link_to company_recharge_histories_path(@employee_profile.department.company,
                                                        params: { employee: @employee_profile }),
                                                        class:'btn btn-primary' do%>
                <i class="bi bi-receipt"></i>
                <%= RechargeHistory.model_name.human %>
            <% end %>

            <div id="recharge_card" style="margin: 10px 0;">
              <%if @employee_profile.card_status & @card.present? & @employee_profile.unblocked? %>
                <%= link_to t('.new_recharge'),
                            new_company_recharge_history_path(
                              company_id: @employee_profile.department.company_id,
                              cpf: @employee_profile.cpf),
                            id: 'btn_new_recharge', class:'btn btn-primary'%>
              <% end %>
            </div>
            <div style="margin: 10px 0;">
              <% if current_user.manager? && @employee_profile.user != current_user %>
                <%if @card&.status == 'active'%>
                  <%= button_to deactivate_card_company_department_employee_profile_path(company_id: @company.id,
                                                                            department_id: @department.id,
                                                                            id: @employee_profile.id),
                                                                            form: {class:'d-inline'},
                                                                            method: :patch,
                                                                            class:'btn btn-danger' do %>
                    <i class="bi bi-x-lg"></i>
                    <%= t('.block_card')%>
                  <% end %>
                <%else%>
                  <%= button_to t('.unblock_card'),
                    activate_card_company_department_employee_profile_path(company_id: @company.id,
                                                                          department_id: @department.id,
                                                                          id: @employee_profile.id),
                                                                          form: {class:'d-inline'},
                                                                          method: :patch,
                                                                          class:'btn btn-danger text-white'%>
                <%end%>
              <% end %>
            </div>
          <%else%>
            <%= t('.unavailable')%>
          <%end%>
        <%else%>
            <% if current_user != @employee_profile.user %>
              <%= t('.no_employee_card')%>
            <% else %>
              <%= t('.no_card') %>
            <% end %>
        <%end%>
      </div>
      
    </div>
  </div>
</div>
