<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de Empresas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="icon" type="image/png" href="<%= asset_path('favicon.png') %>">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>

  <body>
    <%= render 'shared/nav' %>
    
    <div class="container <%= notice.nil? && alert.nil? ? 'd-none' : '' %>">
      <div class="mt-3">
        <div class="alert alert-success alert-dismissible fade show <%= notice.nil? ? 'd-none' : '' %>" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show  <%= alert.nil? ? 'd-none' : '' %>" role="alert" >
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  <div class="container main-content">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>


  </body>
</html>
