<!DOCTYPE html>
<html>
  <head>
    <title>CompanyManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%# <a class="nav-link" href="#">Empresas</a> %>
              <%= link_to 'Empresas', companies_path, class:"nav-link" %>
            </li>  
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="mt-3">
        <div class="alert alert-success alert-dismissible fade show <%= notice.nil? ? 'd-none' : '' %>" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show  <%= alert.nil? ? 'd-none' : '' %>" role="alert" >
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
